<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Index</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
  <meta name="mobile-web-app-capable" content="yes">


  <link rel="apple-touch-icon" sizes="57x57" href="images/public/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/public/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/public/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/public/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/public/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/public/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/public/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/public/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/public/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/public/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/public/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/public/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/public/favicon-16x16.png">
<link rel="manifest" href="images/public/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

</head>
	
<body>

  <header>
        <nav class="nav-wrapper">
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#about" class="modal-trigger">About Us</a></li>
                <li hidden><a href="#registration"  class="modal-trigger">Registration</a></li>
                <li><a href="#rules" class="modal-trigger">Rules & Policies</a></li>
                <li><a href="#contact" class="modal-trigger">Contact Info</a></li>
              </ul>
            <div class="container col s1 push-s11">
                <a href="#"><img src="images/nysl_logo.jpg" class="circle responsive-img right valign-wrapper" height="50" width="50"alt="nysl logo"></a>
            </div>

            <ul class="tabs tabs-fixed-width">
                <li class="tab s4 l4 "><a href="#upcoming-events" class="lime-text">Upcoming Events</a></li>
                <li class="tab s4 l4 "><a href="#games" class="lime-text">Games</a></li>
                <li class="tab s4 l4 "><a href="#locations" class="lime-text">Locations</a></li>
            </ul>
      </nav>
      

    <ul class="sidenav" id="mobile-menu">
        <li><a href="#about" class="white-text modal-trigger">About Us</a></li>
        <li hidden><a href="#registration" class="white-text modal-trigger">Registration</a></li>
        <li><a href="#rules" class="white-text modal-trigger">Rules & Policies</a></li>
        <li><a href="#contact" class="white-text modal-trigger">Contact Info</a></li>
      </ul>


  </header>


    <div id="app">

        <!--NAV MODALS-->

          <!--ABOUT US-->
          <div class="modal" id="about">
              <div class="modal-content">
                <div class="container">
                    <h2 class="center-align">About Us</h2>
                    <h3>Mission</h3>
      
                    <p>To support young athletes living in Chicago's northside neighborhoods, who have an interest in learning and playing soccer, with opportunities to learn and practice skills related to the game of soccer, specifically those skills around team cooperation and good sporsmanship. </p>
                    
                    <h3>Vision</h3>
                    
                    <p>The Northside Youth Soccer League aspires to develop strong, well-rounded and mindful athletes through the building of character, self-discipline, and leadership.</p>
                    
                    <h3>General Information</h3>
                    
                    <p> The Northside Youth Soccer League was established in 1996 to provide athletes residing in Chicago's northside neighborhoods an environment in which to learn and play soccer. To be a member of NYSL, you must be between the ages of 4-12 and reside in a Chicago northside neighborhood. NYSL is ran by a small full-time staff, and relies on the generous volunteer time of parents and previous league members.</p>              
              </div>
              <div class="modal-footer">
                <a href="#" class="modal-close btn orange">close</a>
              </div>
            </div>
          </div>

          <!--REGISTRATION FORM-->
          <div hidden class="modal" id="registration">
              <div class="modal-content">
                <div class="container">
                    <h2 class="center-align">Registration Form</h2>
              </div>
              <div class="modal-footer">
                <a href="#" class="modal-close btn orange">close</a>
              </div>
            </div>
          </div>

          <!--RULES-->
          <div class="modal" id="rules">
              <div class="modal-content">
                <div class="container">
                    <h2 class="center-align">Rules of Play & Policies</h2>

                    <h3 class="center-align">Northside Youth Soccer League</h3>
    <h6>FIFA shall govern NYSL play except as modified herein.</h6>
    
    
      <h5>SPORTSMANSHIP</h5>
        <ul>
          <li>The common interest that members of the Association share is to inspire youth to practice the ideals of sportsmanship and fair play. Any player, coach, team, parent, spectator, administrator or referee whose behavior detracts from this purpose is subject to disciplinary action regardless of technical soccer background, expertise, accomplishments or standing. </li>
        </ul>
    <h5>FIFA FIELD REGULATIONS</h5>
        <ol>
          <li class="bold"><h5>DIMENSIONS</h5> FIFA Law 1 provides for flexible external field dimensions within a given maximum and minimum width and length. These dimensions should be adhered to for all fields used by teams under 12 and older.</li>
          <li class="bold"><h5>COMPETITION FIELDS</h5>Fields used within the competition program must be a minimum of 100 x 60 yards. Leagues, districts or associations participating in the state competition program that are unable to provide a field that meets these minimum requirements must advise the State Competition Board which will assign its Fields Committee to inspect the field and recommend to the Board whether or not a waiver of the minimum dimensions should be granted. Teams from leagues, districts or associations that are unable to provide an acceptable field may be required to play all their games away.</li>
          
          <li class="bold"><h5>FIELDS USED BY YOUNG AGE GROUPS</h5>
            <ol>
              <li>U-6 play on a field approximately 20 X 40 yards with no penalty areas. Fields for older age groups should be progressively larger.</li>
              <li>U-8 plays on a field 40-50 yards in length and 20-30 yards width.</li>
              <li>U-10 play on a field 70-80 yards in length and 40-50 yards in width.</li>
              <li>In addition, fields used by young age groups may have their internal dimensions and size of goal similarly modified.</li>
            </ol>
          </li>
          
          <li class="bold"><h5>TEAM BENCH AREAS</h5>
            <ol>
              <li >Recreation &amp; District Programs
                <ul>
                  <li>The decision for team/spectator placement on the field will be made by the governing body of that team. A team’s bench area shall consist of that area at least one (1) yard away from the touchline and extending to twenty yards (20) both ways from the halfway line. In the event that field conditions require team benches to be on the same side of the field, a team’s bench area shall consist of that area two (2) yards away from the touchline and extending twenty yards one (1) way from the halfway line.</li>
                  <li>The home team has first choice as to where it wishes to locate its bench area. Coaches and substitutes are required to remain within their bench area during the game. Parents and spectators should occupy the same side of the field as the team they are supporting.</li>
                </ul>
              </li>
              
              <li>State Competition League Only
                <ul>
                  <li>Except where it is determined by the referee to be impractical, team bench areas shall be along the same touchline. Each team bench area shall be located two yards outside the touchline, beginning not closer than five yards from midfield and extending not further than twenty yards from midfield. The home team shall have the right to choose the location of its bench area. Coaches and substitutes must remain within their team's bench area during the game.</li>
                  <li>Parents and spectators must occupy the sideline opposite the team bench areas. Supporters of a team must assemble on the side of the midfield facing the team bench area of that team. There shall be a buffer zone extending ten yards on each side of the midfield that may not be occupied by parents or spectators. Match officials shall be empowered to enforce these provisions and may suspend or terminate games in the event that any team, coach, parent, or spectator declines to abide by requests from match officials to comply with these standards.</li>
                </ul>
              </li>
              
            </ol>
          </li>
          
        </ol>
      
      <h5>EQUIPMENT</h5>
        <ul>
          <li>We will abide by and accept equipment standards as defined by FIFA, USSF and USYSA. </li>
        </ul>
    
      
      <h5>NUMBER OF PLAYERS</h5>
        <ul>
          <li class="bold"><h5>TEAM SIZE</h5> Except as noted below, team rosters shall consist of not less than eleven nor more than eighteen players. A team must have at least seven (7) players present and able to play before referees are permitted to start a sanctioned game. No more than eleven (11) players per team may be on the field at any one time during the game. </li>
          <li class="bold"> <h5>SIZE OF AGE GROUP TEAMS</h5>In order to give player’s maximum opportunity to develop in the game of soccer, U-6 through U-1O play modified rules and size of roster as stated in United States Youth Soccer Association (USYSA) rules. It is strongly recommended that U-6 and U-8 play 4 v 4. UYSA shall not sanction games involving teams under 10 or younger unless such games are conducted with not more than eight (8) players per side. (National rule 4036 section 2)</li> 
          <li>Recreational/Developmental players at other ages or where numbers in the playing area are low are strongly encouraged to play small-sided games on reduced field size.</li>
        </ul>
      
      <h5>SUBSTITUTIONS</h5>
        <ul>
          <li>Recreational/Developmental players at other ages or where numbers in the playing area are low are strongly encouraged to play small-sided games on reduced field size. 
            <ol>
              <li>Prior to a throw-in your favor.</li>
              <li>Prior to a goalkick by either team. </li>
              <li>After a goal by either team. </li>
              <li>After an injury, by either team, when the referee stops play. </li>
              <li>At half time. </li>
              <li>When a player has been “cautioned”, only the player receiving “caution” may be substituted. </li>
            </ol>
          </li>
        </ul>
      
      <h5>CONFISCATED PLAYER PASSES</h5>
        <ul>
          <li> Passes of any individual(s) ejected from any match shall be retained after the match by the referee. The pass of any individual who has received a third caution (yellow card) during a playing year shall be confiscated by the referee at the conclusion of the match in which the third caution was received. That player will be suspended from playing in the next game in which the offending participant would otherwise be eligible to participate. This process will continue so that for every third yellow card received during a playing year, the player will be suspended from playing in the next game (after the receipt of a third yellow card) for which the offending participate would otherwise be eligible to participate. The referee shall deliver all confiscated passes to the UYSA State Office within forty-eight (48) hours of the conclusion of the match. </li>
        </ul>
      
      <h5>ALL-PLAY</h5>
        <ul>
          <li>All-play means that every recreation player on every team shall play at least fifty percent of each game. Coaches in the competition program are encouraged to play their players 50% of each game. 
            <ul>
              <li>A Coach shall be permitted to not play a player 50% of each game under special circumstances, e.g., unexcused absences from practice and/or games, ungentlemanly conduct at practice and/or games, and injuries. </li>
            </ul>
          </li>
        </ul>
      
      <h5>PLAYER'S EQUIPMENT</h5>
        <ul>
          <li>Where the uniform colors of both teams are so similar that the referee orders a change, the designated home team must change to colors distinct from those of the opponent</li>
        </ul>
      
      <h5>MIXED TEAMS</h5>
        <ul>
          <li class="bold"><h5>GIRLS PLAYING ON BOYS’ TEAMS</h5>Girls are eligible to play on boys’ teams with parent/guardian permission.</li>  
          <li class="bold"><h5>TYPES OF TEAMS</h5> Teams with females only are Girls Teams. All others are Boys Teams.</li> 
        </ul>
      
      <h5>COACHING FROM THE SIDELINES</h5>
        <ul>
          <li>Coaching from the sidelines, i.e., giving direction to one’s own team on points of strategy and position, is permitted provided that:
            <ol>
              <li>No mechanical, electrical or other devices are used to amplify the voice. </li>
              <li>The tone of voice is informative and not a harangue. </li>
              <li>The coaching takes place within the team’s bench area. </li>
              <li>No coach, substitute, player or spectator is to make derogatory remarks or gestures to the referees, linesmen, players, substitutes or spectators. </li>
              <li>No coach, player, substitute or spectator is to use profanity or incite, in any manner, disruptive behavior of any kind.</li>
            </ol>
          </li>
        </ul>
      
      <h5>GAME TERMINATION</h5>
        <ul>
          <li>Any game terminated after 15 minutes into the second half by the referee by reason of the elements, or by reason of grave disorder on the part of the coaches, players or spectators of a team that is losing at the point that the game is terminated, shall stand as a completed game. If a team is ahead and the game is called because of their actions they will lose the game 1-0. </li>
        </ul>
      
      <h5>CONDITIONS OF REPLAY OF GAMES</h5>
        <ul>
          <li>Any game which is required to be replayed as a result of any protest or appeal, shall be subject to the following conditions:
            <ol>
              <li>The game shall be replayed on the same field, as was the suspended or protested game, unless otherwise agreed by the coaches. </li>
              <li>Impartial referees shall be assigned to the new game.</li>
              <li>The PROTEST AND APPEALS COMMITTEE shall have the power to impose such additional conditions on the replay of the game, as it deems appropriate under the circumstances.</li>
            </ol>
          </li>
        </ul>
      
      <h5>REFEREE RESPONSIBILITIES</h5>
        <ul>
          <li>The referee shall verify the identity of the players and coaches with his/her player pass. He shall collect the passes of those players and coaches who are to participate in the game. The referee must allow no player into the game for whom he/she has no pass</li>
          <li>Upon completion of the game, the referee shall send his/her report to the UYSA offices within four (4) days, holidays excluded. If a coach or a player is ejected, the referee report form is required within forty-eight (48) hours along with the player/coach pass. </li>
          <li>A referee report form must be filed for every game played. </li>
          <li>Each team must determine whether or not referees are registered prior to the start of each game. Upon request, referees officiating at any game must willingly and without bias, show documentation regarding their certification level and registration standing with the USSF to coach, assistant coach, or team captain of teams participating in that game. Prior to the game a coach may decide to postpone the game if the referees do not produce the requested documentation. The game is to be replayed at a later date.</li>
          <li>Referees not complying with this section will be referred to the Disciplinary Committee. </li>
        </ul>
              </div>
              <div class="modal-footer">
                <a href="#" class="modal-close btn orange">close</a>
              </div>
            </div>
          </div>

          <!--CONTACT-->
          <div class="modal" id="contact">
            <div class="modal-content">
              <div class="container">
                  <h2 class="center-align"> Contact Information</h2>
                  <div class="row">
                    <div class="col s12 l6">
                        <p><strong>Facility Type:</strong> Outdoor</p>
                        <p><strong>Additional Information:</strong> If deemed necessary by NYSL, games may be shortened or cancelled due to extreme weather conditions.</p> 
                        <p><strong>Please direct all questions to:</strong> Michael Randall, League Coordinator</p>
                      
                    </div>
                    <div class="col s12 l6">
                        <p><span><strong>Phone:</strong> (630) 690-8132</span></p>
                        <p><strong>Email:</strong> <a href="mailto:michael.randall@chisoccer.org">michael.randall@chisoccer.org</a></p>
                    </div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="modal-close btn orange">close</a>
            </div>
          </div>
          </div>

      <!--UPCOMING EVENTS-->
  
        <section class="section container" id="upcoming-events">
          
                  <h2 class="center-align">Upcoming Events</h2>

                      <div class="row">
                          <div class="col s12">
                              <div class="card">
                                  <div class="card-content center-align">
                                      <h2 class="card-title">August 4</h2>
                                      <p class="indent">NYSL Fundraiser</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col s12">
                              <div class="card">
                                  <div class="card-content center-align">
                                      <h2 class="card-title">August 16</h2>
                                      <p class="indent">Season Kick-off: Meet the Teams</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col s12">
                              <div class="card">
                                  <div class="card-content center-align">
                                      <h2 class="card-title">September 1</h2>
                                      <p class="indent"> First Game of the Season (Check Game Schedule for details)</p>
                                  </div>
                              </div>
                          </div>
                      </div>
        </section>
      
      <!--GAMES INFORMATION-->
       <section class="section container" id="games">
        <div class="center-align">
                <h2>NYSL Game Information</h2>    
              
               <h4 class="lime-text text-accent-2">Fall Schedule</h4>
               <p class="announcement white-text">*All games take place on Saturday</p>

                <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><div class="container"><h4 class="center-align">September</h4></div></div>
                  <div class="collapsible-body">
                    <table class="striped">
                      <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Teams</th>
                            <th>Locations</th>
                        </tr>
                      </thead>

                      <tbody>
                          <tr v-for="(value, key) in games.september">
                              <td>{{value.date}}</td>
                              <td>{{value.time}}</td>
                              <td>{{value.teams}}</td>
                              <td><a v-bind:href="'#'+ value.location + value.month" class="modal-trigger"> {{value.location + ' '}}
                                <i class="material-icons">place</i></a>
                                <div class="modal" v-bind:id="value.location + value.month">
                                    <div class="modal-content">
                                      <div class="container">
                                        <h4 class="center-align">Map to {{value.location}}</h4>
                                        <iframe v-bind:src="value.url" frameborder="2" width="100%" height="90%"></iframe>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <a href="#" class="modal-close btn orange">close</a>
                                    </div>
                                  </div>
                              </td>
                            </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><div class="container"><h4 class="center-align">October</h4></div>                  </div>
                  <div class="collapsible-body">
                      <table class="striped">
                          <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Teams</th>
                                <th>Locations</th>
                            </tr>
                          </thead>
    
                          <tbody>
                              <tr v-for="(value, key) in games.october">
                                  <td>{{value.date}}</td>
                                  <td>{{value.time}}</td>
                                  <td>{{value.teams}}</td>
                                  <td><a v-bind:href="'#'+ value.location + value.month" class="modal-trigger"> {{value.location + ' '}}
                                      <i class="material-icons">place</i></a>
                                      <div class="modal" v-bind:id="value.location + value.month">
                                          <div class="modal-content">
                                            <div class="container">
                                              <h4 class="center-align">Map to {{value.location}}</h4>
                                              <iframe v-bind:src="value.url" frameborder="2" width="100%" height="90%"></iframe>
                                            </div>
                                          </div>
                                          <div class="modal-footer">
                                            <a href="#" class="modal-close btn orange">close</a>
                                          </div>
                                        </div>
                                  </td>
                                </tr>
                          </tbody>
                        </table>
                  </div>
                </li>
                </ul>

        </div>
       </section>
        
      <!--LOCATIONS-->
        <section class="section container" id="locations">
          <h2 class="center-align" >Locations</h2>
          <div>
            <ul class="collapsible">
                <li v-for="(value, key) in locations">
                  <div class="collapsible-header"><h5>{{value.field}}</h5></div>
                  <div class="collapsible-body">
                    <div class="row">
                      <div class="col s10 l8 left-align">
                          <h6 class="valign-wrapper">{{value.address}}</h6>
                      </div>
                      <div class="col s2 l4 right-align">
                          <a v-bind:href="'#'+ value.field" class="modal-trigger btn-floating blue pulse"><i class="material-icons">place</i></a>
                      </div>         
                    </div>
                  </div>
                  <div class="modal" v-bind:id="value.field">
                    <div class="modal-content">
                      <div class="container">
                        <h4 class="center-align">Map to {{value.field}}</h4>
                        <iframe v-bind:src="value.url" frameborder="2" width="100%" height="90%"></iframe>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="#" class="modal-close btn orange">close</a>
                    </div>
                  </div>
                </li>
              </ul>
        </div>


        </section>
  
    </div>



  
   <!--Vue Script-->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!--Main Script-->
  <script src="js/main.js"></script>

  <!-- Materialize Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.3.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

</body>
</html>
